## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

*Hint: you need to add a comma (`,`) after the single element.*

In [0]:
# Your code here
tup=("I",)

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [7]:
# Your code here
type(tup)

tuple

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [8]:
# Your code here
tup.append("r", "o", "n", "h", "a", "c", "k",)
# Your explanation here
# It's not possible because the tuples are immutable and their elements cannot be changed

AttributeError: ignored

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [9]:
# Your code here

tup = tup + ("r", "o", "n", "h", "a", "c", "k")
print(tup)
# Your explanation here
# It's possible to do this because now tup is a different object than it was before. I didn't add anything to the previous object but created a new one with the same name

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [12]:
# Your code here
tup1=tup[:4]
tup2=tup[4:]
print(tup1)
print(tup2)

('I', 'r', 'o', 'n')
('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [16]:
# Your code here
tup3=tup1+tup2
print(tup3)
print(tup3==tup)

('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')
True

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`

In [18]:
# Your code here
print(len(tup1))
print(len(tup2))
print(len(tup1)+len(tup2)==len(tup))

4
4
True

#### What is the index number of `"h"` in `tup3`?

In [20]:
# Your code here
tup3.index("h")

4

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [22]:
# Your code here
letters = ["a", "b", "c", "d", "e"]

for i in letters:
  if i in tup3:
    print(i,": True")
  else:
    print(i,": False")

a : True
b : False
c : True
d : False
e : False

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [24]:
# Your code here
for i in tup3:
  print(i, tup3.count(i))

I 1
r 1
o 1
n 1
h 1
a 1
c 1
k 1